.header {
  background-color: var(--blue);
  box-shadow: var(--shadowBanner);
  height: 101px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}

.header>h1 {
  margin-left: 1rem;
}