.descuentos {
  background-color: var(--green);
  font-size: 1rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.descuentos>p {
  margin-left: 10px;
}